.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-self: center;
  width: 400px;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  height: 300px;
  width: 300px;
  text-align: center;
  padding-top: 20px;
  margin-left: 5px;
}

.product-image {
  width: 150px;
  height: 150px;
}
