.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 615px;
  width: 1515px;
}
